---
---
<sl-details summary="Shoelace web components" class="custom-icons">
  <sl-icon name="plus-square" slot="expand-icon"></sl-icon>
  <sl-icon name="dash-square" slot="collapse-icon"></sl-icon>
  <a href="https://shoelace.style/" target="_blank">Shoelace</a> is a collection of professionally designed, accessible Web Components.
</sl-details>
<sl-details summary="flaticon free icons" class="custom-icons">
  <sl-icon name="plus-square" slot="expand-icon"></sl-icon>
  <sl-icon name="dash-square" slot="collapse-icon"></sl-icon>
  <a href="https://www.flaticon.com/free-icons/json" title="json icons">Json icons created by LAB Design Studio - Flaticon</a>
</sl-details>