---
---
<sl-alert variant="success" open>
  <sl-icon slot="icon" name="check2-circle"></sl-icon>
  <strong>"Thank you for sponsoring <a href="https://www.richme.com.tw/" target="_blank">金豐禾</a> !!!</strong><br />
  This cup of bubble tea feels extra warm. We really appreciate it!
</sl-alert>