name: Google Trends Update and Deploy

# DISABLED - Workflow temporarily disabled
# on:
#   schedule:
#     - cron: '17 6 * * *'
#   workflow_dispatch:

on:
  workflow_dispatch:
    inputs:
      confirm:
        description: 'Type "run" to confirm execution'
        required: true

jobs:
  fetch-google-trends:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3

    - name: Setup Node.js
      uses: actions/setup-node@v3
      with:
        node-version: '20'

    - name: Install dependencies
      run: npm install --legacy-peer-deps

    - name: Run Google Trends Script
      run: node tasks/googleTrends.js

    - name: Commit and Push Data
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      run: |
        git config user.name "GitHub Actions"
        git config user.email "actions@github.com"
        if [ -n "$(git status --porcelain ./data/GoogleTrends)" ]; then
          git add ./data/GoogleTrends
          git commit -m "Update Google Trends data"
          git push https://x-access-token:${GITHUB_TOKEN}@github.com/LightChang/json.support.git
        else
          echo "No changes detected. Skipping commit and push."
        fi

  build-astro:
    runs-on: ubuntu-latest
    needs: fetch-google-trends

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3
      with:
        fetch-depth: 0

    - name: Force fetch latest main branch
      run: |
        git fetch --all
        git checkout main
        git pull origin main
        
    - name: Setup Node.js
      uses: actions/setup-node@v3
      with:
        node-version: '20'

    - name: Install dependencies
      run: npm install --legacy-peer-deps

    - name: Build Astro
      run: npm run build

    - name: Upload dist folder
      uses: actions/upload-artifact@v4
      with:
        name: dist
        path: dist

  deploy-gh-pages:
    runs-on: ubuntu-latest
    needs: build-astro

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3

    - name: Download dist folder
      uses: actions/download-artifact@v4
      with:
        name: dist
        path: ./dist

    - name: Check dist folder
      run: ls -l dist || echo "dist folder does not exist!"

    - name: Configure Git identity
      run: |
        git config user.name "GitHub Actions"
        git config user.email "actions@github.com"

    - name: Deploy to GitHub Pages
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      run: |
        npx gh-pages -d dist --branch gh-pages --repo "https://x-access-token:${GITHUB_TOKEN}@github.com/LightChang/json.support.git"
